<div class="container">
    <div class="divider text-center"></div>
    <h1 class="section-title text-center fw-light">contact <span class="text-danger fw-bold">me</span></h1>
    <div class="row mb-4 row-cols-1 row-cols-md-2 g-4">
        <div class="col mail-icon">
            <a class="button"><img src="../../assets/images/icons/icon-mail.svg" alt="Email"></a> ivanbogar@gmail.com
        </div>

        <div class="col align-self-end social-icons">
            <a class="button" href="https://www.linkedin.com/in/ivanbogar/"><img src="../../assets/images/icons/icon-linkedin.svg" alt="LinkedIn"></a>
            <a class="button" href="https://www.behance.net/ivanbogar"><img src="../../assets/images/icons/icon-behance.svg" alt="Behance"></a>
            <a class="button" href="https://github.com/ivanbogar"><img src="../../assets/images/icons/icon-github.svg" alt="Github"></a>
            <a class="button" href="https://www.instagram.com/ivanbogar/"><img src="../../assets/images/icons/icon-instagram.svg" alt="Instagram"></a>
            <a class="button" href="https://www.twitter.com/ivanbogar/"><img src="../../assets/images/icons/icon-twitter.svg" alt="Twitter"></a>
        </div>
    </div>
    <div class="row mb-4 mt-4">
        <div class="col-12">
            <p class="text-center">© 2021 Ivan Bogar. All rights reserved.</p>
        </div>
    </div>
</div>