<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead text-center">Hi, I'm <span class="text-danger">Ivan</span>. Nice to meet you!</p>
        <h2 class="text-center fw-bold"><span class="text-danger">Building</span> digital products, brands, and experience.</h2>
        <p class="lead text-center">A <span class="text-danger">Designer</span> and Front-end <span class="text-danger">Developer</span> current living in Sao Paulo, Brazil. I specialize in UX/UI Design, Responsive Web Design and Visual Development.</p>
    </div>
  </div>