<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="back rounded mx-auto d-block mb-4" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"></div>
            <!-- <img class="rounded mx-auto d-block mb-4" src="../../assets/images/avatar.png" alt=""> -->
            <h5 class="text-center mb-4">Hi, I'm <span class="text-danger">Ivan</span>. Nice to meet you!</h5>
            <h1 class="text-center fw-bold mb-4"><span class="text-danger">Building</span> digital products, brands, and
                experience.</h1>
            <p class="text-center">A <span class="text-danger">Designer</span> and Front-end <span
                    class="text-danger">Developer</span> current living in Sao Paulo, Brazil. I specialize in UX/UI
                Design, Responsive Web Design and Visual Development.</p>
        </div>
    </div>
</div>