<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img class="rounded mx-auto d-block" src="../../assets/images/avatar.png" alt="">
                <h5 class="text-center">Hi, I'm <span class="text-danger">Ivan</span>. Nice to meet you!</h5>
                <h1 class="text-center fw-bold"><span class="text-danger">Building</span> digital products, brands, and
                    experience.</h1>
                <p class="text-center">A <span class="text-danger">Designer</span> and Front-end <span
                        class="text-danger">Developer</span> current living in Sao Paulo, Brazil. I specialize in UX/UI
                    Design, Responsive Web Design and Visual Development.</p>
            </div>
        </div>
    </div>