<div class="container">
    <div class="divider text-center"></div>
    <h1 class="section-title text-center fw-light">about <span class="text-danger fw-bold">me</span></h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <p>More than 20 years <span class="fw-bold">working</span>, <span class="fw-bold">learning</span> and <span
                    class="fw-bold">sharing experiences</span> and design for interfaces, interactivity, information
                architecture, web and mobile prototyping, without forgetting to continue practicing my skills as a
                front-end developer with HTML / CSS, JavaScript, PHP and AngularJS.</p>
        </div>
        <div class="col">
            <p>Currently working as UX/UI Designer at <span class="fw-bold text-info">IBM</span> in Sao Paulo, I'm
                driven by the search for the best functional and intuitive experiences, balancing the best results for
                the business through user-centered design decisions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Skills & Abilities</h2>
            <p>Design Thinking, UX Research, User Interface, User-centered Design, Interaction Design, Mobile Design,
                Information Architecture, Wire Framing, Usability, Usability Test, Typescript, JavaScript,
                WordPress, HTML5, CSS, SCSS, Saas, Angular JS, Front-end, Agile.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
        <div class="col">
            <p>English – <span class="fw-bold">Full professional proficiency</span></p>
        </div>
        <div class="col">
            <p>Portuguese – <span class="fw-bold">Native</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Work Experience</h2>
            <p>Adobe XD</p>
            <p>Illustrator</p>
            <p>After Effects</p>
        </div>
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Education</h2>
            <p>Figma</p>
            <p>InVision Studio</p>
        </div>
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Courses</h2>
            <p>Sketch</p>
            <p>Visual Studio Code</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="fw-bold mt-5 mb-4">Tools</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Adobe XD</p>
            <p>Illustrator</p>
            <p>After Effects</p>
        </div>
        <div class="col">
            <p>Figma</p>
            <p>InVision Studio</p>
        </div>
        <div class="col">
            <p>Sketch</p>
            <p>Visual Studio Code</p>
        </div>
        <div class="col">
            <p>Photoshop</p>
            <p>Premiere</p>
        </div>
    </div>
</div>