<div class="container">
    <div class="divider text-center"></div>
    <h1 class="section-title text-center fw-light">selected <span class="text-danger fw-bold">works</span></h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../assets/images/jobs/thumbnails/tb_job1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title fw-bold">Card title</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-danger">Mobile</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/jobs/thumbnails/tb_job2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title fw-bold">Card title</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-danger">UX/UI</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/jobs/thumbnails/tb_job3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title fw-bold">Card title</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <span class="badge bg-danger">Dashboards</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/jobs/thumbnails/tb_job4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title fw-bold">Card title</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-danger">Branding</span>
            </div>
          </div>
        </div>
      </div>
</div>